<a href="https://colab.research.google.com/github/christinezuzart/DeepLearning/blob/master/DataPrepLM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive 
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
import io

dfTrain = pd.read_csv('/content/gdrive/My Drive/Data/drugsComTrain_raw.csv')
dfTest = pd.read_csv('/content/gdrive/My Drive/Data/drugsComTest_raw.csv')

In [0]:
dfTrain.head()

   Unnamed: 0                  drugName  ...               date usefulCount
0      206461                 Valsartan  ...       May 20, 2012          27
1       95260                Guanfacine  ...     April 27, 2010         192
2       92703                    Lybrel  ...  December 14, 2009          17
3      138000                Ortho Evra  ...   November 3, 2015          10
4       35696  Buprenorphine / naloxone  ...  November 27, 2016          37

[5 rows x 7 columns]

In [0]:
dfTest.head()

   Unnamed: 0         drugName  ...                date usefulCount
0      163740      Mirtazapine  ...   February 28, 2012          22
1      206473       Mesalamine  ...        May 17, 2009          17
2      159672          Bactrim  ...  September 29, 2017           3
3       39293         Contrave  ...       March 5, 2017          35
4       97768  Cyclafem 1 / 35  ...    October 22, 2015           4

[5 rows x 7 columns]

In [0]:
dfTrain['is_valid'] = False
dfTrain.head()

   Unnamed: 0                  drugName  ... usefulCount is_valid
0      206461                 Valsartan  ...          27    False
1       95260                Guanfacine  ...         192    False
2       92703                    Lybrel  ...          17    False
3      138000                Ortho Evra  ...          10    False
4       35696  Buprenorphine / naloxone  ...          37    False

[5 rows x 8 columns]

In [0]:
dfTest['is_valid'] = True
dfTest.head()

   Unnamed: 0         drugName  ... usefulCount is_valid
0      163740      Mirtazapine  ...          22     True
1      206473       Mesalamine  ...          17     True
2      159672          Bactrim  ...           3     True
3       39293         Contrave  ...          35     True
4       97768  Cyclafem 1 / 35  ...           4     True

[5 rows x 8 columns]

In [0]:
dfTrain = dfTrain.drop(columns=['Unnamed: 0', 'drugName', 'rating', 'date', 'usefulCount'])
dfTrain.head()

                      condition  ... is_valid
0  Left Ventricular Dysfunction  ...    False
1                          ADHD  ...    False
2                 Birth Control  ...    False
3                 Birth Control  ...    False
4             Opiate Dependence  ...    False

[5 rows x 3 columns]

In [0]:
dfTest = dfTest.drop(columns=['Unnamed: 0', 'drugName', 'rating', 'date', 'usefulCount'])
dfTest.head()

                      condition  ... is_valid
0                    Depression  ...     True
1  Crohn's Disease, Maintenance  ...     True
2       Urinary Tract Infection  ...     True
3                   Weight Loss  ...     True
4                 Birth Control  ...     True

[5 rows x 3 columns]

In [0]:
dfAll = pd.concat([dfTrain, dfTest], ignore_index=True, sort =False)
dfAll.head()

                      condition  ... is_valid
0  Left Ventricular Dysfunction  ...    False
1                          ADHD  ...    False
2                 Birth Control  ...    False
3                 Birth Control  ...    False
4             Opiate Dependence  ...    False

[5 rows x 3 columns]

In [0]:
print(dfTrain.shape)
print(dfTest.shape)
print(dfAll.shape)

(161297, 3)
(53766, 3)
(215063, 3)

In [0]:
df = dfAll.rename(columns = {"condition": "label", "review":"text"})
print(df.shape)

(215063, 3)

In [0]:
df.head()

                          label  ... is_valid
0  Left Ventricular Dysfunction  ...    False
1                          ADHD  ...    False
2                 Birth Control  ...    False
3                 Birth Control  ...    False
4             Opiate Dependence  ...    False

[5 rows x 3 columns]

In [0]:
filename = 'texts.csv'
path = F"/content/gdrive/My Drive/{filename}" 
df.to_csv(path)